---
layout: archive
title: "Books"
permalink: /books/
author_profile: true
---

{% include base_path %}

It is crucial for me that research directly benefits the individuals involved, and to achieve this, it is important that our findings reach a wide audience. I am particularly passionate about providing high-quality information regarding autistic women, while also addressing the limitations of our current understanding. This was the primary goal of my book, but I also actively engage in delivering lectures, conducting interviews for various publications, and participating in TV and radio appearances. You can find a complete list of these activities on my CV, along with a selection of examples below.

{% for post in site.books %}
  {% include archive-single.html %}
{% endfor %}

